body{
    background-color: aquamarine;
}

.btn-primary{
    width: 80%;
    margin-left: 14px;
    margin-top: 8px;
}

div.a {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    text-decoration: underline;
  }